/* * phan dau header */
.header {
  background-color: #67ccd3;
}
.headerElement {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(247, 226, 226);
  padding-top: 20px;
}
.headerElement h2:hover {
  background-color: rgba(233, 215, 19, 0.823);
  width: 210px;
  height: 45px;
}
a i {
  font-size: 30px;
  color: #100e0d;
}
.headerElement a {
  text-decoration: none;
  color: #0a0a0b;
}
.btn {
  margin-bottom: 30px;
}
.headerElement button:hover {
  background-color: rgba(233, 215, 19, 0.823);
}
.listProduct {
  text-align: center;
  width: 80%;
  margin-left: 100px;
  padding-bottom: 20px;
}
.listProduct a {
  color: rgb(10, 10, 10) !important;
  text-decoration: none;
  line-height: 40px;
}
.listProduct a:hover {
  height: 40px;
  width: 40px;
  background-color: rgba(222, 182, 24, 0.916);
}
/* css phan thanh toan */
.gio-sanpham {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.giay-dep {
  display: flex;
  margin-top: 20px;
  border: 2px solid black;

}
.giay-dep img {
  width: 200px;
}
.font-giohang {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
#gio-SP {
  display: flex;
  flex-direction: column;
}
/* .quan-ao {
  display: flex;
  margin-top: 20px;
  border: 2px solid black;
}
.quan-ao img {
  width: 200px;
  height: 200px;
} */
.buy-sanpham {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sl-tong-sanpham {
  display: flex;
  justify-content: space-between;
}
.iconX {
  margin-left: 200px;
  font-size: 35px;
}
.buy-sanpham button {
  background-color: black;
  color: white;
  width: 430px;
  height: 50px;
  margin-bottom: 50px;
}
/* phan cuoi */
.cyborg {
  background-color: #67ccd3;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  color: rgb(20, 22, 22);
}
